body{
    background-color: white;
}
.circle1{
    width: 60px;
    height: 60px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: transparent;
}
.circle2{
    width: 60px;
    height: 60px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: transparent;
    margin: 0px 0px 30px 40px;
}